<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header class="site-header" style="background-image: url({{ asset('img/pic_header.jpg') }})">
            <span class="site-title">My Symfony Site</span>
        </header>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="{{ path('home') }}">Home</a>
                    <a href="{{ path('about') }}">About</a>
                    <a href="{{ path('report') }}">Report</a>
                    <a href="{{ path('lucky') }}">Lucky</a>
                    <a href="{{ path('api') }}">Api</a>
                    <a href="{{ path('card') }}">Card Game</a>
                    <a href="{{ path('show_session') }}">Session</a>
                </li>
            </ul>
        </nav>

        <main>
        {% block body %}{% endblock %}
        </main>
        <footer class="footer" style="background-image: url({{ asset('img/pic_footer.jpg') }})">
            <span class"footer-text">Copyright &copy; av Veddan.</span>
        </footer>
    </body>
</html>
